body {
    background-color: #1a1a2e;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.products-page-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background-color: #2c3e50;
    border-radius: 25px;
}

.products-page-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 50px;
    color: #f1f1f1;
    font-style: normal;
    font-weight: bold;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.product-card {
    text-decoration: none;
    color: white;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card-image-container {
    background-color: transparent;
    border-radius: 20px;
    padding: 0;
    margin-bottom: 15px;
    overflow: hidden;
}

.product-card-image-container img {
    width: 100%;
    height: 250px; /* Fixed height for images */
    display: block;
    object-fit: cover;
}

.product-card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
    .products-page-title {
        font-size: 2.5rem;
    }
    .products-page {
        padding-top: 4rem; /* 110px */
    }
}
